.body {
  background-color: f4f4f4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  align-self: center;
  margin-bottom: 4rem;
  margin-top: 1rem;
}

.box {
  width: 8rem;
}

.title {
  font-weight: bold;
}