{% from 'macros.html' import display_tags %}
{% extends 'base.html' %}
{% block pagetitle %}Tag {% endblock %}
{% block content %}
<div class="container" style="margin-top: 2rem;">
    <h1>{% block title %} Notes tagged with "{{ tag.tag_name }}" {% endblock %}</h1>
    <br />
    <ul class="list-group list-group-flush">
        <li class="shadow-lg p-3 mb-5 bg-body rounded" style="list-style: none;" class="list-group-item">
            {% for note in tag.tag_notes %}
            <div class="title">Note #{{ note.id }}</div>
            <div><a style="color: rgb(45, 41, 41); text-decoration-line: underline;" href="{{ url_for('note', id=note.id)}}">{{ note.title }}</a></div>
            <br />
            <div>{{ note.body }}</div>
            <div style="float:right;" class="btn-group" role="group">
                <button class="btn btn-light" style="margin-left: 0.5rem;"><a style="color:black;" href="/{{note.id}}/edit">edit</a></button>
                <button class="btn btn-light" style="margin-left: 0.5rem;" type="button" class="close" class="btn btn-outline-primary" onClick="deleteNote({{ note.id }})"><span aria-hidden="true">&#215;</span></button>
            </div>
            {{ display_tags(note) }}
            {% endfor %}
        </li>
    </ul>
</div>
{% endblock %}